@media (max-width: 960px) {
  .vp-header-inner {
    flex-wrap: wrap;
    gap: 8px 12px;
    padding-block: 10px;
  }

  .vp-menu {
    order: 3;
    flex-basis: 100%;
    overflow-x: auto;
  }

  .vp-shell {
    display: block;
  }

  .vp-main {
    display: block;
    padding: 18px;
    margin-left: 0;
  }

  .vp-content-wrap {
    padding: 18px;
  }

  .vp-aside,
  .vp-sidebar {
    display: none;
  }
}

.mobile [data-vp-desktop-header],
.mobile .vp-sidebar,
.mobile .vp-aside {
  display: none;
}

.mobile .vp-mobile-header,
.mobile .vp-mobile-secondary {
  display: flex;
}

.mobile .vp-shell {
  display: block;
  min-height: auto;
}

.mobile .vp-main {
  display: block;
  margin-left: 0;
}

.mobile .vp-main .vp-content-wrap {
  border: 0;
  padding: 14px 0 0;
}

.mobile .vp-prev-next {
  flex-direction: column;
}

.desktop .vp-mobile-header,
.desktop .vp-mobile-secondary {
  display: none !important;
}

.mobile .j-mobile-menu .menu .menu-item,
.mobile .vp-nav-title {
  font-size: 1rem;
}

.mobile .j-toc .toc-link {
  font-size: 1rem;
  padding-block: 0.75rem;
}

.mobile .vp-nav,
.mobile .vp-nav-item {
  gap: 4px;
}

.mobile .vp-nav-children .vp-nav-title {
  padding-block: 8px
}

.mobile .vp-nav-toggle {
  top: 0;
}