.vp-main.has-aside > .vp-aside {
  width: 160px;
}

.vp-aside {
  position: sticky;
  top: calc(var(--vp-header-height) + 28px);
  align-self: flex-start;
  flex: 1 1 0;
  min-width: 0;
  height: calc(100vh - var(--vp-header-height) - 28px);
  height: calc(100dvh - var(--vp-header-height) - 28px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.vp-toc {
  border-left: 1px solid var(--vp-line);
}

.vp-toc .j-toc .toc-link {
  font-size: var(--font-size-sm);
}

.vp-aside-custom {
  margin-top: 16px;
}

.vp-mobile-toc-panel .j-toc {
  padding-bottom: 48px;
}
